@model IEnumerable<String>
@using Term_Project.Models
@{
    List<String> arr = Model.ToList();
    arr.Add("");
    
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    
    <h2 style="font-family:Chiller; margin-left:25px; font-size:60px">Songs Uploaded by different Users </h2>
    
    foreach (var a in arr)
    {
        try
        {
            string filelocation = Server.MapPath(@"..\Songs\");
            String[] filenames = System.IO.Directory.GetFiles(filelocation + a + @"\");

            String subpath = filelocation + a + @"\";
            
        for (int i = 0; i < filenames.Length; i++)
        {
            filenames[i] = filenames[i].Replace(subpath, "");
        }
        
        foreach (String s in filenames)
        {
            if (s != "Thumbs.db")
            {
                string[] my = s.Split('.');
                
                <div align="center" >
                    <h3 id="naam">@my[0]</h3> <br /> <h4>Uploaded by @a</h4>              
                    
                    <audio controls="controls">
                    <source src="@("../Songs/" + a + @"/" + s)" type="audio/mpeg" />
                    </audio>
                    
                    <a href="~/Song/Favourite?fileName=@s">   <input class="btn btn-primary" type="button" value="Add to Favourites"> </a>      <a href="~/Song/Download?fileName=@s&uploader=@a"> <input class="btn btn-danger" type="button" value="Download"> </a>


                    <div style="width:40%; height:auto;display:flexbox;background-color:rgba(129, 77, 29, 0.35)">
                       
                    <button id="showComments" class="btn btn-black" onclick="show()">Show/Hide Comments</button>

                    <div id="comments">
                        
                        <p>Awlaa</p>
                        </div>

                            <form class="navbar navbar-form" action="~/Client/Comment?title=@s" method="post">
                                <input type="text" name="comment1" class="form-control" style="width:100%; color:black" />
                                <input type="submit" class="btn-xs btn-info" value="Post Comment" style="float:right" />
                            </form>
                        </div>

                     <br/><br/>
                </div>
            }
        }
        }
        catch (DirectoryNotFoundException)
        {
        }

    }
    <script src="~/Scripts/jquery-1.8.2.js"></script>
<script>
    $(document).ready(function () { $('#comments').hide(); });
    function show()
    {
        $('#comments').toggle();
    }
</script>

    <script>
        function myfun () {

            var naam = $('#naam').val();
            $.getJSON("/Song/GetComments?title=" + naam, function (data) {
                                
                $.each(data, function(i, sur)
                {
                    $('#comments').append($(sur.Name + " " + sur.Comment));
                });



            })
            }
    </script>

    <script> 
    
        document.addEventListener('play', function (e) {
            var audios = document.getElementsByTagName('audio');
            for (var i = 0, len = audios.length; i < len; i++) {
                if (audios[i] != e.target) {
                    audios[i].pause();
                }
            }
        }, true);
    
    
    
    </script>

}