@model String[]

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "GetAll";
}

<h2 style="font-family:Chiller; margin-left:25px; font-size:60px">My All Uploads</h2>
@{
    foreach (String s in Model)
    {
        if (s != "Thumbs.db")
        {
            <div align="center">
                <h3>@s</h3><br /> <h4>Uploaded by @Session["name"]</h4>

                <audio controls="controls" id="myaudio">
                    <source src="@("../Songs/" + Session["name"] + @"/" + s)" type="audio/mpeg" />
                </audio>

                <a href="~/Songs/Favourite?fileName=@s">   <input class="btn btn-primary" type="button" value="Add to Favourites"> </a>      <a href="~/Song/Download?fileName=@s&uploader=@Session["name"]"> <input class="btn btn-danger" type="button" value="Download"> </a>

                 <br><br />
            </div>
        }
    }
}

<script src="~/Scripts/jquery-1.8.2.js"></script>

<script>

    document.addEventListener('play', function (e) {
        var audios = document.getElementsByTagName('audio');
        for (var i = 0, len = audios.length; i < len; i++) {
            if (audios[i] != e.target) {
                audios[i].pause();
            }
        }
    }, true);



</script>