@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>There was a problem in your form.</h2><br />

    <h1>    Either username or password Issue.</h1><br />
    <h2>    Please Go Back and Re-submit form Correctly.</h2>
