@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="mainslider">

    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="slide_overlay">
                    <img src="~/Images/flex_slide01.jpg" alt="">
                </div>
                <div class="slide_description_wrapper">
                    <div class="slide_description">
                        <p data-animation="fadeInLeft">Touch Tomorrow</p>
                        <h3 data-animation="fadeInLeft">The Best Playlist Here</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide_overlay">
                    <img src="~/Images/flex_slide02.jpg" alt="">
                </div>
                <div class="slide_description_wrapper">
                    <div class="slide_description">
                        <p data-animation="expandUp">Invent The Future</p>
                        <h3 data-animation="slideExpandUp">Dance For Life</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide_overlay">
                    <img src="~/Images/flex_slide03.jpg" alt="">
                </div>
                <div class="slide_description_wrapper">
                    <div class="slide_description">
                        <p data-animation="fadeInRight">Play The Moments</p>
                        <h3 data-animation="fadeInRight">Pause The Memories</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide_overlay">
                    <img src="~/Images/flex_slide04.jpg" alt="">
                </div>
                <div class="slide_description_wrapper">
                    <div class="slide_description">
                        <p data-animation="expandUp">Stop The Pain</p>
                        <h3 data-animation="slideExpandUp">Rewind The Happiness</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide_overlay">
                    <img src="~/Images/flex_slide05.jpg" alt="">
                </div>
                <div class="slide_description_wrapper">
                    <div class="slide_description">
                        <p data-animation="fadeInRight">Get Overdose On Music</p>
                        <h3 data-animation="fadeInRight">It Makes You Stronger</h3>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</section>

<section id="events" class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    Featured Events
                </h2>
                <p class="section_header_p">You can not miss these releases</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-3">

                <div class="thumbnail">
                    <img src="~/Images/featured_events01.jpg" alt="">
                    <div class="caption">
                        <p>The Music Mela with bigger and better workshops, live performances, lectures and panel discussions takes the city by storm.</p>
                    </div>
                </div>
                <p>Pakistan National Council of Arts, Islamabad</p>

            </div>

            <div class="col-sm-3">

                <div class="thumbnail">
                    <img src="~/Images/featured_events02.jpg" alt="">
                    <div class="caption">
                        <p>Satranga Cultural Development Organization (SCDO) initiated project “Violence rest in Peace” in collaboration with Umeed Jawan.</p>
                    </div>
                </div>
                <p>University of Engineering & Technology, Lahore</p>

            </div>

            <div class="col-sm-3">

                <div class="thumbnail">
                    <img src="~/Images/featured_events03.jpg" alt="">
                    <div class="caption">
                        <p>ASHRAE – NUST PNEC welcomes you to enjoy a night full of Rock and Pop Music in its purest and most adorned way.</p>
                    </div>
                </div>
                <p>NUST PNEC, Karachi</p>

            </div>

            <div class="col-sm-3">

                <div class="thumbnail">
                    <img src="~/Images/featured_events04.jpg" alt="">
                    <div class="caption">
                        <p>Pakistan and the Girnari Jogi is an evening of art, music & film devoted to Pakistani and Central Asian cultures with a live musical performance by Tablapusher.</p>
                    </div>
                </div>
                <p>Main Boulevard Gulberg, Lahore</p>

            </div>
        </div>
    </div>
</section>

<section id="style" class="dark_section parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-4 style_image to_animate" data-animation="fadeInleft">
                <img src="~/Images/girl.png" alt="">
            </div>

            <div class="col-md-8 ">
                <div class="heading-area">
                    <h2 class="heading white large">Why we have best music</h2>
                    <p class="sub-heading">The way that we are going through</p>
                </div>

                <div class="stepbox clearfix">
                    <div class="step"><i class="fa fa-life-ring fa-spin"></i></div>
                    <div class="stepcontent">
                        <h3 class="divider40 icon-header to_animate" data-animation="fadeInRight">We listen to a lot of music</h3>
                        <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, qui, vel cupiditate enim dolorum</p>  -->
                    </div>
                </div>

                <div class="stepbox clearfix">
                    <div class="step"><i class="fa fa-life-ring fa-spin"></i></div>
                    <div class="stepcontent">
                        <h3 class="divider40 icon-header to_animate" data-animation="fadeInRight">Choosing the best</h3>
                        <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, qui, vel cupiditate enim dolorum</p>  -->
                    </div>
                </div>

                <div class="stepbox clearfix">
                    <div class="step"><i class="fa fa-life-ring fa-spin"></i></div>
                    <div class="stepcontent">
                        <h3 class="divider40 icon-header to_animate" data-animation="fadeInRight">You enjoy the best works</h3>
                        <!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, qui, vel cupiditate enim dolorum</p>  -->
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<section id="skills" class="dark_section parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    Our Skills
                </h2>
                <p class="section_header_p">Most listened styles</p>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-sm-3 to_animate">
                <h3>Singers'</h3>
                <div class="chart" data-percent="80">
                    <span class="percent"></span>
                </div>
            </div>
            <div class="col-sm-3 to_animate">
                <h3>Hip Hop</h3>
                <div class="chart" data-percent="95">
                    <span class="percent"></span>
                </div>
            </div>
            <div class="col-sm-3 to_animate">
                <h3>Guitar</h3>
                <div class="chart" data-percent="87">
                    <span class="percent"></span>
                </div>
            </div>
            <div class="col-sm-3 to_animate">
                <h3>Love</h3>
                <div class="chart" data-percent="76">
                    <span class="percent"></span>
                </div>
            </div>

        </div>
    </div>
</section>


<section id="play_list" class="dark_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    Sample Playlist
                </h2>
                <p class="section_header_p">What we offer you to listen</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Singers'</a></li>
                    <li><a href="#tab2" role="tab" data-toggle="tab">Hip Hop</a></li>
                    <li><a href="#tab3" role="tab" data-toggle="tab">Guitar</a></li>
                    <li><a href="#tab4" role="tab" data-toggle="tab">Love</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div>

                            <p>Stay With Me - Akcent</p>
                            <audio controls="controls">
                                <source src="~/Songs/1stay.mp3" type="audio/mpeg" />
                            </audio>

                            <hr>

                            <p>Tic Toc - Kesha</p>
                            <audio controls="controls">
                                <source src="~/Songs/tic%20toc.mp3" type="audio/mpeg" />
                            </audio>

                            <hr>

                            <p>Stereo Love - Edward Maya</p>
                            <audio controls="controls">
                                <source src="~/Songs/stereo.mp3" type="audio/mpeg" />
                            </audio>

                            <hr>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div>

                            <p>Dj Bass - Usher</p>
                            <audio controls="controls">
                                <source src="~/Songs/dj.mp3" type="audio/mpeg" />
                            </audio>

                            <hr>

                            <p>Perfect Bass</p>
                            <audio controls="controls">
                                <source src="~/Songs/bass.mp3" type="audio/mpeg" />
                            </audio>

                            <hr>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div>

                            <p>Strings</p>
                            <audio controls="controls">
                                <source src="~/Songs/guitar.mp3" type="audio/mpeg" />
                            </audio>

                            <hr>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4">
                        <div>

                            <p>Hello Hunny Bunny</p>
                            <audio controls="controls">
                                <source src="~/Songs/hhb.mp3" type="audio/mpeg" />
                            </audio>

                            <hr>

                            <p>Cuppy Cake</p>
                            <audio controls="controls">
                                <source src="~/Songs/cute.mp3" type="audio/mpeg" />
                            </audio>

                            <button class="btn btn-primary">Add to Collection</button>          <button class="btn btn-danger">Download</button>

                            <div style="width:100%; height:auto;display:flexbox;background-color:rgba(129, 77, 29, 0.35)">
                                @*<a href="/User/SavePlay?id=@s.Id" class="btn-xs btn-success" aria-label="Aligh Right"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Add to PlayList</a>
                                    <a href="/User/Download?id=@s.Id" class="btn-xs btn-info"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>Download</a>
                                    @foreach (Comment c in s.Comments)
                                    {
                                        <p style="padding-left:2em;font-weight:bold">@c.User.Name : @c.Comment1</p>

                                    }*@
                                <form class="navbar navbar-form" action="/User/AddComment" method="post">
                                    @*<input type="hidden" value="@ViewBag.loggedIn.Id" name="UserId">
                                        <input type="hidden" value="@s.Id" name="SongId">*@
                                    <textarea name="Comment1" style="color:black; width:100%; min-height: 5px"></textarea>
                                    <input type="submit" class="btn-xs btn-info" value="Post Comment" style="float:right" />
                                </form>
                            </div>

                            <hr>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="counters" class="dark_section parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    Our Counters
                </h2>
                <p class="section_header_p">Some interesting facts about us</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="teaser with_counter">
                    <div class="teaser_icon">
                        <i class="fa fa-music"></i>
                    </div>
                    <div class="teaser_description">
                        <p class="counter" data-from="0" data-to="197308" data-speed="1800"></p>
                        <h3>Listened Songs</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="teaser with_counter">
                    <div class="teaser_icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="teaser_description">
                        <p class="counter" data-from="0" data-to="50824" data-speed="1800"></p>
                        <h3>Happy Members</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="teaser with_counter">
                    <div class="teaser_icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="teaser_description">
                        <p class="counter" data-from="0" data-to="2915" data-speed="1800"></p>
                        <h3>Spend Party</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="teaser with_counter">
                    <div class="teaser_icon">
                        <i class="fa fa-plus-circle"></i>
                    </div>
                    <div class="teaser_description">
                        <p class="counter" data-from="0" data-to="326" data-speed="1800"></p>
                        <h3>New Songs Every day</h3>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="portfolio" class="light_section gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    Our Party
                </h2>
                <p class="section_header_p">Our parties are always fun</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="isotope_filters">
                    <a href="#" data-filter="*" class="selected">Show All</a>
                    <a href="#" data-filter=".atica">Club Blue</a>
                    <a href="#" data-filter=".sphere">Club Sphere</a>
                    <a href="#" data-filter=".ray">Club Cave</a>
                    <a href="#" data-filter=".forsage">Club Royal</a>
                </div>

                <div id="isotope_container" class="isotope row">
                    <div class="isotope-item gallery-item col-md-4 col-sm-6 atica ray">
                        <div class="gallery-image">
                            <img src="~/Images/01.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>Listen To Your Heart</h3>
                            <p>The Stage Is Yours, Show Your Talent.</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/01.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-md-4 col-sm-6 ray atica">
                        <div class="gallery-image">
                            <img src="~/Images/02.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>Lose Control</h3>
                            <p>Make The Volume Loud, More Loud.</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/02.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-md-4 col-sm-6 sphere">
                        <div class="gallery-image">
                            <img src="~/Images/03.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>Make Your Friends Feel Proud</h3>
                            <p>Dance With Beats, In the Colorful Spotlights.</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/03.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-md-4 col-sm-6 sphere">
                        <div class="gallery-image">
                            <img src="~/Images/04.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>Explore Yourself</h3>
                            <p>Find The Hidden Child Inside You.</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/04.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-md-4 col-sm-6 atica">
                        <div class="gallery-image">
                            <img src="~/Images/05.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>Dance in Trance</h3>
                            <p>When Lights Go Off</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/05.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-md-4 col-sm-6 ray">
                        <div class="gallery-image">
                            <img src="~/Images/06.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>No Restrictions</h3>
                            <p>Make DJ Play Your Favourtie Songs.</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/06.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-md-4 col-sm-6 sphere forsage">
                        <div class="gallery-image">
                            <img src="~/Images/07.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>A Chance To Watch</h3>
                            <p>Hip Hop Dancers Performing At Their Best.</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/07.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-md-4 col-sm-6 forsage">
                        <div class="gallery-image">
                            <img src="~/Images/08.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>A Chance To See</h3>
                            <p>Gymnasters Of Every Kind Performing Live.</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/08.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-md-4 col-sm-6 forsage">
                        <div class="gallery-image">
                            <img src="~/Images/09.jpg" alt="">
                        </div>
                        <div class="gallery-item-description">
                            <h3>A Chance To Meet</h3>
                            <p>Fully Trained And Experienced Dancers.</p>
                            <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Images/09.jpg"></a>
                            <a class="p-link" title="" href="#"></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section id="contact" class="light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullDown">
                <h2 class="section_header">
                    Contact Us
                </h2>
                <p class="section_header_p">Please write us</p>
            </div>
        </div>

    </div>
</section>

<section id="map" class="grey_section"></section>

<section class="light_section">
    <div class="container">
        <div class="row">

            <div class="widget col-sm-6 to_animate">
                <form class="contact-form" method="post" action="/">
                    <p class="contact-form-name">
                        <label for="name">Name <span class="required">*</span></label>
                        <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Name">
                    </p>
                    <p class="contact-form-email">
                        <label for="email">Email <span class="required">*</span></label>
                        <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email">
                    </p>
                    <p class="contact-form-subject">
                        <label for="subject">Subject <span class="required">*</span></label>
                        <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
                    </p>
                    <p class="contact-form-message">
                        <label for="message">Message</label>
                        <textarea aria-required="true" rows="8" cols="45" name="message" id="message" class="form-control" placeholder="Message"></textarea>
                    </p>
                    <p class="contact-form-submit vertical-margin-40">
                        <!-- <input type="submit" value="Send" id="contact_form_submit" name="contact_submit" class="theme_button"> -->
                        <button type="submit" id="contact_form_submit" name="contact_submit" class="fa fa-upload"> Send</button>
                    </p>
                </form>
            </div>


            <div class="widget widget_contact col-sm-6 to_animate">
                <h3>Contact Info</h3>
                <p>
                    To Get In Touch, <br>Or Just Say Hi!
                    <br><br>
                    <i class="fa fa-phone"></i><strong>  Phone:</strong> +92 311 0143 743
                </p>
                <p>
                    <i class="fa fa-envelope"></i><strong>  Email:</strong> <a href="bsef12m543@pucit.edu.pk">info@musicbox.com</a>
                </p>
                <p>
                    <i class="fa fa-globe"></i><strong>  Website: </strong><a href="#">www.musicbox.com</a>
                </p>
                <p>
                    <i class="fa fa-map-marker"></i><strong>  Address:</strong> Royal Palm Lahore, Pakistan
                </p>

            </div>
        </div>
    </div>
</section>

<div class="preloader">
    <div class="preloader_image"></div>
</div>

<!-- Sound Player -->
<script language="JavaScript" src="~/Scripts/audio-player.js"></script>

<!-- libraries -->
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.appear.js"></script>

<!-- superfish menu  -->
<script src="~/Scripts/jquery.hoverIntent.js"></script>
<script src="~/Scripts/superfish.js"></script>

<!-- page scrolling -->
<script src="~/Scripts/jquery.easing.1.3.js"></script>
<script src='~/Scripts/jquery.nicescroll.min.js'></script>
<script src="~/Scripts/jquery.ui.totop.js"></script>
<script src="~/Scripts/jquery.localscroll-min.js"></script>
<script src="~/Scripts/jquery.scrollTo-min.js"></script>
<script src='~/Scripts/jquery.parallax-1.1.3.js'></script>

<!-- widgets -->
<script src="~/Scripts/jquery.easypiechart.min.js"></script><!-- pie charts -->
<script src='~/Scripts/jquery.countTo.js'></script><!-- digits counting -->
<script src="~/Scripts/jquery.prettyPhoto.js"></script><!-- lightbox photos -->
<!-- sliders, filters, carousels -->
<script src="~/Scripts/jquery.isotope.min.js"></script>
<script src='~/Scripts/owl.carousel.min.js'></script>
<script src='~/Scripts/jquery.fractionslider.min.js'></script>
<script src='~/Scripts/jquery.flexslider-min.js'></script>
<script src='~/Scripts/jquery.bxslider.min.js'></script>

<!-- custom scripts -->
<script src="~/Scripts/plugins.js"></script>
<script src="~/Scripts/main.js"></script>




<!-- Map Scripts -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var lat;
    var lng;
    var map;
    var styles = [{ "featureType": "landscape", "stylers": [{ "hue": "#F1FF00" }, { "saturation": -27.4 }, { "lightness": 9.4 }, { "gamma": 1 }] }, { "featureType": "road.highway", "stylers": [{ "hue": "#0099FF" }, { "saturation": -20 }, { "lightness": 36.4 }, { "gamma": 1 }] }, { "featureType": "road.arterial", "stylers": [{ "hue": "#00FF4F" }, { "saturation": 0 }, { "lightness": 0 }, { "gamma": 1 }] }, { "featureType": "road.local", "stylers": [{ "hue": "#FFB300" }, { "saturation": -38 }, { "lightness": 11.2 }, { "gamma": 1 }] }, { "featureType": "water", "stylers": [{ "hue": "#00B6FF" }, { "saturation": 4.2 }, { "lightness": -63.4 }, { "gamma": 1 }] }, { "featureType": "poi", "stylers": [{ "hue": "#9FFF00" }, { "saturation": 0 }, { "lightness": 0 }, { "gamma": 1 }] }];

    jQuery.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=lahore, royal palm, 221b&sensor=false', function (data) {
        lat = data.results[0].geometry.location.lat;
        lng = data.results[0].geometry.location.lng;
    }).complete(function () {
        dxmapLoadMap();
    });

    function attachSecretMessage(marker, message) {
        var infowindow = new google.maps.InfoWindow(
            {
                content: message
            });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
    }

    window.dxmapLoadMap = function () {
        var center = new google.maps.LatLng(lat, lng);
        var settings = {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 16,
            draggable: false,
            scrollwheel: false,
            center: center,
            styles: styles
        };
        map = new google.maps.Map(document.getElementById('map'), settings);

        var marker = new google.maps.Marker({
            position: center,
            title: 'Map title',
            map: map
        });
        marker.setTitle('Map title'.toString());
        //type your map title and description here
        attachSecretMessage(marker, '<h3>Map title</h3>Map HTML description');
    }
</script>