@{
    ViewBag.Title = "Songs";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Songs</h2>

<div style="margin-left:30%;width:100%">
    <div class="col-lg-4">
        <div class="list-group" align="center">
            <a href="#" class="list-group-item active"> Songs Management </a>
            <a href="/Client/AddSong" class="list-group-item"> Upload a New Song </a>
            <a href="/Song/GetAll" class="list-group-item"> View All Songs Uploaded by Me </a>
            <a href="/Song/Delete" class="list-group-item"> Delete My All Uploads </a>
        </div>
    </div>
</div>
